.content-box a {
    color: #6C6C6C;
}

.content-box a:hover {
    color: #333;
}

/* メインコンテンツ */
.section-title {
    color: #6C6C6C;
    font-weight: bold;
    margin-left: 15px;
    margin-right: 15px;
    font-size:16px;
}

.main-content {
    padding: 0 15px;
}

.main-content ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

/* インデックス */
.index-container {
    display: flex;
    cursor: pointer;
    padding: 0 10%;
    margin-top: 40px;
}

.index {
    width: 20%;
    text-align: center;
    color: #6C6C6C;
    font-weight: bold;
    font-size:18px;
}

.category-header-partition {
    border: solid 0.3px #707070;
    width: 100%;
}

.index p {
    margin-bottom: 5px;
}

/* メジャーカテゴリーの子要素 */
.category-container {
    display: flex;
    flex-wrap: wrap;
}

/* 段組 */
.category-box {
    width: 25%;
    min-height: 200px;
    margin-bottom: 10px;
}

.major-category-name{
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 20px;
}

.middle-category-name {
    font-size: 14px;
    font-weight: bold;
    margin: 5px 0;

}

.minor-category-name {
    font-size: 13px;
    line-height: 1.8em;
}

.category-image {
    max-height: 30%;
    width: auto;
}

.category-partition {
    border: solid 0.3px #B1B1B1;
    margin-bottom: 40px;
}

