/* カルーセル */
.carousel {
    width: 100%;
    margin: 0;
}

.carousel-container {
    width: 100%;
    height: 450px;
    overflow: hidden;
    position: relative;
}

.carousel-container ul {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    transition: transform .3s;
}

.carousel-container li {
    height: 100%;
    min-width: 100%;
}

.carousel-container li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#prev,
#next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: none;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
}

#prev img,
#next img{
    width: 70%;
}
#prev:hover,
#next:hover {
    opacity: .8;
}

#prev {
    left: 15%;
}

#next {
    right: 15%;
}

.hidden {
    display: none;
}
