.section-title-box {
    display: flex;
    margin: 0 15px 14px;
}

.fit-content {
    width: fit-content;
    margin: 0;
}

.filter-bar {
    margin-left: auto;
    font-size: 9px;
}

.filter-bar select {
    color: #6C6C6C;
    border: 1.5px solid #CECECE;
    border-radius: 5px;
    width: 120px;
    height: 24px;
}

.filter-bar button {
    margin-left: 4px;
    color: #6C6C6C;
    border: 1.5px solid #CECECE;
    border-radius: 5px;
    background-color: #ffffff;
    width: 116px;
    height: 24px;
}

.filter-bar button img {
    width: 12px;
    margin: 0 4px;
}

.sub-category-top-banner img {
    width: 100%;
}

.shop-info {
    margin: 0 auto;
    width: 96%;
}

.shop-info .shop-info-top {
    display: flex;
    margin-bottom:10px;
}

.shop-info .shop-banner {
    width: 20%;
}

.shop-info .shop-banner img {
    width: 100%;
    max-height: 90px;
    object-fit: contain;
}

.shop-info .shop-text {
    width: 80%;
}

.shop-info .section-title {
    font-size: 18px;
    margin: 0 0 10px 15px;
}

.shop-info .inquiry_btn_radius {
    float:right;
    color: #6C6C6C;
    padding: 6px 30px;
    border: 0px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: bold;
    background-color: #E5E5E5;
}

.shop-info .flex-box {
    padding: 2px 15px;
}

.shop-info .ECM_CheckboxInput {
    padding: 0px;
}

.shop-info .ECM_CheckboxInput-Input:checked + .ECM_CheckboxInput-DummyInput::before,
.shop-info .ECM_CheckboxInput-Input:checked + .ECM_CheckboxInput-DummyInput::after {
    top: 30%;
    left: 70%;
    transform-origin: 1px 1px;
}

.shop-info .ECM_CheckboxInput-DummyInput {
    width: 16px;
    height: 16px;
}

.shop-info .ECM_CheckboxInput-LabelText {
    color: #6C6C6C;
    font-size: 14px;
    font-weight: normal;
}

.shop-info .shop-info-link {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.shop-info .shop-info-link li {
    border-right: 1px solid #CECECE;
    padding: 0 12px;
}

.shop-info .shop-info-link li:last-child {
    border-right: none;
}

.shop-info .shop-info-link a {
    color: #004EFF;
    font-size: 11px;
    cursor: pointer;
}

.shop-info .shop-info-link a:hover {
    color: #1e70bf;
}

.shop-info .shop-info-bottom p {
    color: #333333;
}
