/* 全体 */
a {
    color: #1F53A7
}
.img {
    width:100%;
}
.img:hover {
    opacity: .8;
}
.life-style-img {
    margin: 5px 0;
}
.content-box {
    padding: 16px 0;
}

/* 左メニュー */
.left-menu {
    width: 20%;
    background-color: #FCFCFC;
    padding: 10px;
}
.menu-title {
    color: #555555;
    font-weight: bold;
}
.ad-img {
    margin: 5px 0;
}

/* メインコンテンツ */
.main-content {
    padding: 10px;
    width: 80%;
    /* background-color: aquamarine; */
}
.main-content-box {
    margin: 40px 0;
}
.qmm {
    padding: 10px;
}
.qmm-title {
    color: #6C6C6C;
    font-weight: bold;
    font-size:18px;
}
.section-title {
    color: #6C6C6C;
    font-weight: bold;
    margin-left: 20px;
    font-size:18px;
}
.new-arrival-item ul{
    display: flex;
    list-style: none;
    height: 210px;
    width: 100%;
    padding: 0;
    margin-left: 4px;
    margin-bottom: 24px;
    /* background-color: darkkhaki; */
}
.new-arrival-item li {
    padding: 5px;
}
.new-arrival-item li img{
    height: 70%;
    max-height: 140px;
    margin:0 auto;
    object-fit: cover;
}

.life-scene section {
    display: flex;
    margin: 5px;
    justify-content: space-between;
    column-gap: 10px;
}

.life-scene section div{
    display: flex;
    flex-flow: column;
}

.life-scene-text {
    text-align: center;
    color: #666666;
    font-weight: bold;
    font-size: 12px;
}
