/* 全体 */
a {
    color: #1F53A7
}
.img {
    width:100%;
}
.img:hover {
    opacity: .8;
}

.left-menu-box .life-scene-container {
    flex-wrap: wrap;
    margin: 0;
    gap: 10px 0;
}

.left-menu-box .life-scene-container a {
    display:flex;
}

.left-menu-box .life-scene-container img {
    width: 100%;
}

.content-box {
    padding: 16px 0;
}

/* 左メニュー */
.left-menu {
    width: 20%;
}
.left-menu-search-box {
    background-color: #FCFCFC;
    padding: 10px;
}
.left-menu-box {
    margin-bottom: 40px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}
/*下の階層のulや矢印の基点にするためliにrelativeを指定*/
nav ul li {
    position: relative;
}

/* マイメニューの左メニュー */
.mymenu-left-menu {
    width: 30%;
}
.my-menu-left-box {
    padding: 10px;
}
.mymenu-left-menu nav li {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    cursor: pointer;
}
.mymenu-left-menu nav li:hover,
.mymenu-left-menu nav li:active {
	background:#ECECEC;
}
.mymenu-left-menu nav li:last-child {
    margin-top: 100px;
}
.menu-title {
    display: block;
    text-decoration: none;
    color: #333333;
    font-size: 14px;
}
.menu-title:hover {
    color: #333333;
}
.mymenu-left-menu .icon-arrow-right {
    height: 12px;
}

/* 広告 */
.ad-box {
    padding: 0 10px;
}
.bottom-ad-container {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
}
.bottom-ad-box {
    width: 100%;
}

/* ショップ・ブランド */
.shop-brand-link {
    padding: 10px;
    font-size: 13px;
}
.search-container {
    margin-bottom: 20px;
}
.search-container-form {
    display: flex;
    width: 100%;
    height: 30px;
}
.search-container input[type="text"] {
    width: 70%;
    border: solid #707070 1px;
    border-radius: 3px 0 0 3px !important;
    padding: 2px 4px !important;
}
.search-container input[type="text"]:focus {
    outline: 0;
}
.search-container input[type="text"]::placeholder {
    /* TODO:見切れる */
    font-size: 1px;
}
.search-container button {
    width: 30%;
    border: solid #707070 1px;
    border-radius: 0 3px 3px 0;
    color: #FFFFFF;
    font-size: 11px;
    font-weight: bold;
    background-color: #707070;
}

/* メインコンテンツ */
.main-content {
    padding: 10px 10px 10px 30px;
    width: 80%;
}
.main-content-box {
    margin-bottom: 40px;
}
.qmm {
    padding: 10px;
}
.qmm-title {
    color: #6C6C6C;
    font-weight: bold;
    font-size:16px;
}
.section-title {
    color: #6C6C6C;
    font-weight: bold;
    margin-left: 15px;
    margin-right: 15px;
    font-size:16px;
}

/* LIFE SCENE */
.life-scene-container {
    margin: 10px;
    display: flex;
    justify-content: space-between;
}
.life-scene-box {
    display: flex;
    width: 10%;
    text-align: center;
    flex-flow: column;
}
.life-scene-img {
    width: 90%;
}
.life-scene-title {
    text-align: center;
    color: #666666;
    font-weight: bold;
    font-size: 11px;
    overflow-wrap: break-word;
}

/* 商品一覧 */
.item-container {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    width: 100%;
    padding: 0 10px;
    margin-bottom: 24px;
    row-gap: 30px;
}
.item-box {
    width: calc(100% / 5 - 10px);
    margin: 0 5px;
}
.item-box img {
    max-height: 140px;
    margin:0 auto;
    object-fit: cover;
}

/* モーダル */
.ui.modal > .close {
    padding: 0;
    width: 28px;
    height: 28px;
    top: 2rem;
    right: 2rem;
}
.ui.modal > .content {
    padding: 60px 21px 21px;
    border-radius: 0.28571429rem;
}
.ui.modal > .content section {
    margin-bottom: 30px;
}
.modal-section-title {
    color: #6C6C6C;
    font-size: 11px;
    margin: 10px 0;
}
.flex-box {
    display: flex;
    flex-wrap: wrap;
}
.ECM_CheckboxInput {
    padding: 10px 12px;
}
.ECM_CheckboxInput-LabelText {
    color: #333333;
    font-size: 13px;
}
.accordion-nav > .flex-box {
    gap: 20px 0;
}
.accordion-nav .ECM_CheckboxInput-LabelText {
    color: #6C6C6C;
    font-size: 12px;
    font-weight: normal;
}
.accordion-nav .ECM_CheckboxInput {
    padding: 2px 12px;
}
.middle-category-box {
    width: calc(100% / 3);
}

.switch-input {
    color: #333333;
    font-size: 13px;
    font-weight: bold;
    align-items: center;
    display: flex;
    width: 50%;
    padding: 10px 0;
}
.switch_LabelText {
    width: 30%;
}
.toggle_switch {
    width: 70%;
}
.switch_TextInput {
    height: 40px;
    border: solid 1px #CECECE;
    border-radius: 4px;
    padding: 10px;
}
.ui.modal>.actions {
    background: #FFFFFF;
    border-top: none;
    text-align: center;
    padding: 5rem 1rem 3rem;
}
.ui.icon.button {
    padding: 0.78571429em 1.5em;
}
.clear-button {
    color: #6C6C6C !important;
    font-size: 13px !important;
    background-color: #FFFFFF !important;
    border: 1px solid #DEDEDE !important;
}
.search-button {
    color: #6C6C6C !important;
    font-size: 13px !important;
    background-color: #FBDB5B !important;
}

/* アコーディオン */
.accordion-nav {
    display: none;
    padding: 0 40px;
}
.nav-open,
.nav-open-checkbox {
	padding: 4px 15px;
	background-color: #F7F7F7;
    border-radius: 4px;
	position: relative;
    margin: 4px 0;
}
.nav-open .ECM_CheckboxInput-DummyInput,
.nav-open-checkbox .ECM_CheckboxInput-DummyInput {
    background: #FFFFFF;
}
.nav-open .ECM_CheckboxInput-LabelText,
.nav-open-checkbox .ECM_CheckboxInput-LabelText {
    color: #6C6C6C;
    font-size: 13px;
}
.nav-open .nav-switch-checkbox,
.nav-open-checkbox .nav-switch-checkbox {/* 閉じている時 */
	position: absolute;
	right: 20px;
    top: 20px;
    content: url(/images/user/icon_arrow_down.png)!important;
    cursor: pointer;
}
.nav-open.active .nav-switch-checkbox,
.nav-open-checkbox.active .nav-switch-checkbox {/* 開いている時 */
    content: url(/images/user/icon_arrow_up.png)!important;
}
