.main-content a {
    color: #365EE3;
    font-weight: bold;
}
.main-content a:hover {
    color: #1d54a7;
}

.part-title {
    color: #555555;
    font-weight: bold;
    margin-left: 30px;
    font-size: 16px;
}

.section-title {
    color: #555555;
    margin-left: 45px;
    font-size: 14px;
}

.main-content {
    min-height: 400px;
}

.main-content p {
    color: #707070;
    font-size: 13px;
    margin-left: 45px;
}

.main-content section {
    margin-bottom: 80px;
}

/* 営業カレンダー */
.business-calendar {
    color: #555555;
    margin-left: 45px;
}
.business-calendar td {
    padding-bottom: 20px;
}
.td-title {
    width: 160px;
    font-weight: bold;
}
.td-body {
    font-size: 13px;
    width: 300px;
}

/* 配送表 */
.shipping-table {
    margin-left: 45px;
    margin-bottom: 80px;
    width: 980px;
    table-layout: fixed;
    font-size: 11px;
}
.shipping-table thead {
    color: #000000;
    font-weight: bold;
    background-color: #F5F5F5;

}
.shipping-table th {
    border-right: 1px solid #C7C7C7;
    padding-bottom: 10px;
}
.shipping-table th:last-child {
    border-right: none;
}
.shipping-table tbody {
    color: #555555;
    font-weight: bold;
    text-align: center;
}
.shipping-table tr {
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
}
.shipping-table td {
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
}
