.content-box a {
    color: #888888;
}

.content-box a:hover {
    color: #333;
}

.content-box {
    width: 70%;
    margin-left: 15%;
    padding-top: 50px;
}

/* 検索フォーム */
.search-container {
    margin-top: 40px;
}
.search-container-form {
    display: flex;
    justify-content: center;
    height: 40px;
}
.search-container input[type="text"] {
    border: solid #707070 1px;
    width: 474px;
    border-radius: 3px 0 0 3px !important;
    padding: 2px 4px !important;
}
.search-container input[type="text"]:focus {
    outline: 0;
}
.search-container input[type="text"]::placeholder {
    font-size: 14px;
}
.search-container button {
    width: 76px;
    border: solid #707070 1px;
    border-radius: 0 3px 3px 0;
    color: #FFFFFF;
    font-size: 11px;
    font-weight: bold;
    background-color: #707070;
}

/* メインコンテンツ */
.section-title {
    color: #6C6C6C;
    font-weight: bold;
    margin-left: 15px;
    margin-right: 15px;
    font-size:16px;
}

.main-content {
    padding: 0;
    width: 100%;
    margin-bottom: 240px;
}

/* ショップ */
.shop-list {
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px 40px;
}

.shop-box {
    width: calc((100% - 40px) / 2);
    display: flex;
    gap: 0 10px;
}

.shop-box:hover {
    opacity: .8;
}

.shop-box img {
    width: 100px;
    height: 100px;
}

.shop-text {
    color: #333333;
    height: 100px;
}

.shop-name{
    font-weight: bold;
    font-size: 14px;
    margin: 8px 0;
}

.shop-text .shop-introduction{
    font-size: 11px;
    height: 6em;
    line-height: 2;
    overflow: hidden;
}

/* ブランド */
.index-container {
    display: flex;
    cursor: pointer;
    padding: 0 10%;
    margin: 40px 0;
    text-align: center;
    font-size: 12px;
}

.index {
    width: 100%;
    border-right: 1px solid #888888;
    padding: 0 10px;
}

.index:last-child {
    white-space: nowrap;
    border-right: none;
}

.index-name {
    color: #6C6C6C;
    font-size: 18px;
    font-weight: bold;
    margin: 12px 15px 4px;
}

.index-box {
    width: 980px;
    border: 1px solid #707070;
    font-size: 12px;
    min-height: 40px;
    padding: 10px 15px 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 0 10px;
    white-space: nowrap;
}

.brand-box {
    width: calc((100% - 30px) / 3);
    line-height: 2.4em;
}

.img:hover {
    opacity: 1;
}

