* {
    box-sizing: border-box;
}
.slick {
    width: 70%;
    height: 150px;
    margin: 40px;
}
.qmm-slick {
    width: 100%;
    height: 140px;
    margin: 10px;
}
.item-slick {
    width: 100%;
    height: 210px;
    margin: 10px;
}
.rank-item-slick {
    width: 100%;
    height: 260px;
    margin: 10px;
}
.shop-slick {
    width: 100%;
    height: 150px;
    margin: 10px;
}
.rank-shop-slick {
    width: 100%;
    height: 177px;
    margin: 10px;
}
.coupon-slick {
    width: 100%;
    height: 150px;
    margin: 10px;
}
.slick-slide {
    margin: 0px;
    height: 210px;
    padding: 0 5px;
}
.shop-slick .slick-slide {
    margin: 0px;
    height: 140px;
    padding: 0 5px;
}
.rank-shop-slick .slick-slide {
    margin: 0px;
    height: 170px;
    padding: 0 5px;
}
.rank-item-slick .slick-slide {
    height: 260px;
}

/* 子要素 */
.rank-title {
    color: black;
    font-weight: bold;
}
.rank-title+a img{
    margin-top: 10px;
}
.slick-slide img {
    height: 70%;
    max-height: 140px;
    margin:0 auto;
    object-fit: cover;
}
.shop-slick .slick-slide img,
.rank-shop-slick .slick-slide img {
    height: 100%;
}
.slider-text {
    line-height: 1.3em;
}
.shop-name {
    color: #888888;
    font-size: 0.6em;
    margin: 1px 0;
}
.shop-name:hover {
    color: #666666;
}
.item-name {
    color: #666666;
    font-size: 0.8em;
    margin: 1px 0;
}
.price {
    font-weight: bold;
    font-size: 0.8em;
    margin-top: 4px;
}

/* 矢印 */
.slick-arrow:before{
    content:"";
    width: 180%;
    height: 180%;
    position: absolute;
    top: 0;
    left: -6px;
}
.slick-next:before{
    background: url(/images/carousel/carousel_right.png)!important;
    background-size: contain!important;

}
.slick-prev:before{
    background: url(/images/carousel/carousel_left.png)!important;
    background-size: contain!important;
}
