.content-box a {
    color: #6C6C6C;
}

.content-box a:hover {
    color: #333;
}

/* メインコンテンツ */
.section-title {
    color: #6C6C6C;
    font-weight: bold;
    margin-left: 15px;
    margin-right: 15px;
    font-size:16px;
}

.main-content {
    width: 100%;
}

.main-content ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.category-container {
    width: 100%;
}

/* 段組 */
.category-box {
    width: 100%;
    height: 70px;
    display: flex;
}

.major-category-name{
    background-color: #F8F8F8;
    padding: 15px;
    font-size: 12px;
    font-weight: bold;
}

.middle-category-image{
    width: 20%;
    text-align: center;
}

.category-image {
    height: 60px;
    margin: 5px;
}

.middle-category-name {
    font-size: 14px;
    font-weight: bold;
    width: 80%;
    padding: 28px 15px;
}

