
.faq-section-title {
    color: #888888;
    font-weight: bold;
    margin: 0 15px 14px;
    padding-top: 14px;
    font-size: 14px;
}

/* アコーディオン */
.nav-open {
    padding: 8px 0;
    background-color: #FFFFFF;
    margin: 0 14px;
    position: static;
    display: flex;
    border-bottom: 1px #DDDDDD dashed;
    cursor: pointer;
}

.faq-section-title + .nav-open {
    border-top: 1px #DDDDDD dashed;
}

.nav-open .nav-icon {
    position: static;
    display: flex;
    width: 8%;
    justify-content: end;
}

.nav-open .nav-switch {/* 閉じている時 */
	position: static;
    width: 17px;
    object-fit: contain;
    content: url(/images/faq/icon_arrow_down.png)!important;
}
.nav-open.active .nav-switch {/* 開いている時 */
    content: url(/images/faq/icon_arrow_up.png)!important;
}

.accordion-nav {
    padding: 8px 0;
    margin: 0 14px;
    border-bottom: 1px #DDDDDD dashed;
}

.nav-body {
    display: flex;
    justify-content: left;
}

.main-content p {
    color: #888888;
    margin: 0;
    line-height: 2em;
}

.initial {
    width: 6%;
}

.nav-open .sentence {
    width: 86%;
    font-size: 13px;
}

.accordion-nav .sentence {
    width: 94%;
    font-size: 13px;
}

.img {
    width: 100%;
}

.img:hover {
    opacity: 1;
}
